{% extends 'base.html' %}

{% block content %}
    <h1>{{ header }} </h1>

    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <!-- guides against csrf injections-->
        <p>
            {{ form.date.label }}<br>
            {{ form.date() }}<br>
            {% for error in form.date.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            {{ form.customer_name.label }}<br>
            {{ form.customer_name() }}<br>
            {% for error in form.customer_name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}</br>
            <a href="{{ url_for('customers') }}">Add Customer</a>
        </p>
        
        <p>
            {{ form.product_name.label }}<br>
            {{ form.product_name() }}<br>
            {% for error in form.product_name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}</br>
            <a href="{{ url_for('products') }}">Add Product</a>
        </p>

        <p>
            {{ form.quantity.label }}<br>
            {{ form.quantity(size=70) }}<br>
            {% for error in form.quantity.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            {{ form.unit_price.label }}<br>
            {{ form.unit_price(size=70) }}<br>
            {% for error in form.unit_price.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            {{ form.discount.label }}<br>
            {{ form.discount(size=70) }}<br>
            {% for error in form.discount.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            {{ form.store_name.label }}<br>
            {{ form.store_name() }}<br>
            {% for error in form.store_name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}</br>
            <a href="{{ url_for('stores') }}">Add Store</a>
        </p>

        <p> {{ form.duplicate() }} 
            {{ form.add_new() }} 

            {% if request.method=='GET' %}
                {{ form.submit() }} 
            {% elif request.method=='POST' %}
                {{ form.update }}
            {% endif %}

        </p>
    </form>

    
{% endblock content %}

